<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DBConnectionString"
			 connectionString="Data Source=programming3-server-group6.database.windows.net;Initial Catalog=Database-project;Integrated Security=False;User ID=admin_inholland;Password=database.123;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>